@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #006b0e;
    --secondary-color: #6fb11f;
    --tertiary-color: #e1f1dc;
    --info-color: #3451b2;
    --warning-color: #d6a35c;
    --error-color: #e5484d;
    --text-base-color: #1d563e;
    --success-color: #52c41a;
    --white-color: #ffffff;
    --theme-font: Poppins, sans-serif;
  }

  * {
    font-family: var(--theme-font);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      display: none;
      width: 0px;
    }
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
